{% extends "base.html" %}

{% block title %}Книга рецептов{% endblock %}

{% block content %}
<div class="mt-5">
    <h1 class="mb-3">Добро пожаловать на сайт книг рецептов!</h1>
    <p class="lead">
        Здесь вы найдете множество замечательных рецептов для любого случая.
    </p>

    <h2 class="mt-5 mb-4">Возможности сайта</h2>
    <div class="d-flex flex-wrap">
        <a href="/name" class="btn btn-primary mr-3 mb-3">
            Поиск по названию
        </a>
        <a href="/ingredient" class="btn btn-primary mb-3">
            Поиск по ингредиентам
        </a>
    </div>
</div>
{% endblock %}
